@using MainProgram.Core.Resources
@using MainProgram.Edm

@{
    ViewBag.Title = "Trainning";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/Content/css/style.css" rel="stylesheet" />
<link href="~/Content/css/Custom.css" rel="stylesheet" />
<link href="~/Content/css/bootstrap.css" rel="stylesheet" />


<div class="content-wrapper" style=" height: 600px">
    <!-- Content Header (Page header) -->

    

    <!-- left sidebar-->
    <div class="left" style="width: 30%; margin-left: 1%; padding-left:8px; background-image: url('../../Content/img/ApparelImages/back.jpg');">
        <div class=" col-md-4">



            <strong style="font-size16px"> no record found.</strong>


        </div>
    </div>
</div>
<!--Main-->
<!--Right Sidebar Main content-->
<div class="right-sidebar" style="text-align:center">











    <div class="col-md-4">
        <strong style="font-size16px"> no record found.</strong>
    </div>




</div>


<style>
    .content-wrapper {
        margin-top: 0%;
        margin-left: 0%;
        background-position: top;
    }

    .left {
        width: 20%;
        margin-left: 1%;
        margin-top: 0%;
        background-position: top;
        position: relative;
    }



    .right-sidebar {
        content: " ";
        position: relative;
        background-color: white;
        margin-top: 0%;
        width: 80%;
        overflow: no-display;
        padding-right: 10px;
        margin-left: 20%;
        margin-right: 0%;
        background-position: top;
        margin-bottom: 0px;
    }
</style>
