@model IEnumerable<MainProgram.Edm.tbh_Departments>

<link href="~/Content/css/style.css" rel="stylesheet" />
<link href="~/Content/css/Custom.css" rel="stylesheet" />
<link href="~/Content/css/bootstrap.css" rel="stylesheet" />



@{
    ViewBag.Title = "Sent";
}

<h2 style="height:600px">Your message has been sent</h2>

